---
import Card from "../components/card.astro";
import Layout from "../components/layout.astro";
---
<layout pageTitle = "nuestros servicios">
    
    <h1>Nuestro servicios</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, et in! Illo tenetur aspernatur, blanditiis fuga ab non dolorem harum officia ratione nisi a eos necessitatibus fugiat quo excepturi aut.</p>
    <Card title =  "Ventas" content = "las mejores finanzas"/>
    <Card title =  "Compras" content = "los mejores del mes" />
    <Card title =  "Correos" content = "los correos de ventas" />
    <Card />
<layout/>
